%table.table.table-striped
  %thead
    %tr
      %td #
      %td name
      %td comments count
      %td
  %tbody
    - @rewards.each_with_index do |reward, i|
      %tr
        %td= i + 1
        %td= reward["name"]
        %td= reward["count"]
